//
   Created by www on 2016/1/12.
extends ./layout

block content
    script(src="/js/detail.js")
    .container
        .row
            .col-md-7
                embed(src="#",allowFullScreen="true",quality="high",
                    width="400",height="300",align="middle",type="application/x-shockwave-flash")
                .panel.panel-default
                    .panel-heading
                        h3 评论区
                    .panel-body
                        .media-list
                        each item in comments
                            .media()
                                .pull-left
                                    a.comments(href="#comments",data-cid="#{item._id}",data-tid="#{item.from._id}")
                                        img.media-object(src="#")
                                .media-body
                                    h4.media-heading
                                        span.text-info #{item.from.name} &nbsp; says :
                                    p #{item.content}
                                    if item.reply && item.reply.length > 0
                                        each reply in item.reply
                                            .media
                                                .pull-left
                                                    a.comments(href="#comments",data-cid="#{item._id}",data-tid="#{reply.from._id}")
                                                        img.media-object(src="#")
                                                .media-body
                                                    h5.media-heading #{reply.from.name} &nbsp;
                                                        span.text-info 回复&nbsp;
                                                         #{reply.to.name} :
                                                    p #{reply.content}
                                hr
                        #comments
                            form#commentForm(method="post",action="/user/comment")
                                .form-group
                                    input(type="hidden",name="comment[movie]",value="#{movie._id}")
                                    if user
                                        textarea.form-control(name="comment[content]",row="3")
                                        input(type="hidden",name="comment[from]",value="#{user._id}")
                                if user
                                    button.btn.btn-primary(type="submit") 提交
                                else
                                    a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登陆后评论
            .col-md-5
                    dl.dl-horizontal
                    dt 名称
                    dd= movie.title
                    dt 导演
                    dd= movie.doctor
                    dt 国家
                    dd= movie.country
                    dt 语言
                    dd= movie.language
                    dt 上映年份
                    dd= movie.year
                    dt 简介
                    dd= movie.summary
