//
   Created by www on 2016/1/12.
extends ../template/layout
block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 标题
                        th
                        th
                        th
                        th
                        th
                        th
                        th
                tboady
                    each item in movies
                        tr(class="item-id-#{item._id}")
                            td i
                            td #{item.title}
                            td #{item.doctor}
                            td #{item.country}
                            td #{item.year}
                            //td #{moment(item.meta.creat).format("MM/DD/YYYY")}
                            td: a.btn.btn-primary(data-id="#{item._id}" href="/movie/#{item._id}") 查看
                            td: a.btn.btn-success(data-id="#{item._id}" href="/admin/update/#{item._id}") 修改
                            td: button.btn.btn-danger.del(data-id="#{item._id}") 删除

